<div class="container-lg">
  <h3><%= @restaurant.name %></h3>
    <p><em><%= @restaurant.category %></em></p>
    <p><%= @restaurant.address %></p>
    <% if @restaurant.phone_number.nil? %>
    <p>No phone number</p>
    <% else %>
    <p><%=  @restaurant.phone_number%></p>
    <% end %>

  <%= link_to 'Write a Review', new_restaurant_review_path(@restaurant) %>
</div>


</div>
